@font-face {
    font-family: "chrioc";
    src: url('../../assets/fonts/KGCandyCaneStripe/KGCandyCaneStripe.ttf');
}

.l_admin{
    padding-top: 150px;
}

.l_error{
    font-family: "chrioc";
    text-align: center;
    color: #000000;
}

.l_backround{
    background: url("../../assets/images/chrismatsTheme.jpg") no-repeat center top fixed ;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}

.l_btn{
    background-color: #ac2925;
    font-family: "chrioc";
    color: black;
}

.l_img {
    font-family: "chrioc";
    color: #000000;
}

.backgroundLetter{
    background: url("../../images/back2.jpg") no-repeat center top fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.backgroundGift{
    background: url("../../images/back.jpg") no-repeat center top fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.white{
    color: white;
}

.glyphicon{
    color: rgb(201,48,44);
}

select, input, textarea{
    color: black;
    width: 600px;
    margin-bottom: 20px;

}