{% extends "WCSBundle::base.html.twig" %}
{% block titlePage %}{{ parent() }} - Admin{% endblock %}

{% block background %}

<div class="l_background">
    {% endblock %}
    {% block content %}

    <div class="row">
        <div class="col-md-offset-4 col-md-4 l_admin">
            <img src="http://www.tolkiendrim.com/wp-content/uploads/2015/12/P%C3%A8re-Gandalf.jpg"
                 class="img-responsive thumbnail center-block"><br/>

            <form action="" method="post" class="form-group ">
                <input type="password" name="pass" class="form-control l_passwd"/>
                <button type="submit" name="submit" value="submit" class="btn btn-block l_btn">
                    Êtes-vous le père Noël ?
                </button>
            </form>
            <div class="l_error">
                {% if error %}
                    {{ error }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}